{% extends "base.html" %}

{%block title%}
  <title>Todo List Manager</title>
{%endblock title%}

{%block content%}
<div class="container">
   <br>
    {% if messages %}
    
        {% for message in messages %}
        <div class="alert alert-info alert-dismissable fade show" role="alert" style="    display: flex;
        justify-content: space-between;">
          {{message}} 
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
        
        </button>
      </div>

    
        {% endfor %}
    {% endif %}

  <form method = "POST" class="row">
    {% csrf_token %}
 
      <label for="exampleInputEmail1" class="form-label col-lg-4"  ></label>
      <input type="text" class=" col-lg-6" placeholder="New Task" name="task">
      
    <button type="submit" class="btn btn-primary col-lg-2">Add Task</button>
  </form>

  <br>
  <table class="table table-dark table-bordered text-center">
    <thead>
      <tr class="row">
        <th class="col-7">Task</th>
        <th class="col-3">Done</th>
        <th class="col-1">Edit</th>
        <th class="col-1">Delete</th>
      </tr>
    </thead>
    <tbody>

      {% if all_tasks %}
          {% for task in all_tasks %}
          
            {% if task.done %}

              <tr class=" table-success row">
                <td class="col-7">  <del> {{task.task }} </del></td>
                <td class="col-3"> <a href="{% url "pending_task" task.id %}"><button type="button" class="btn btn-dark">Mark as Pending</button></a></td>
                <td class="col-1"><a href ="{% url "edit_task" task.id %}"><button type="button" class="btn btn-warning">Edit</button> </a></td>
                <td class="col-1"> <a href="{% url "delete_task" task.id %}"> <button type="button" class="btn btn-danger">Delete</button> </a></td>
              </tr>
            {% else %}
              <tr class="table-light row">
                <td class="col-7">   {{task.task }}</td>
                <td class="col-3">  <a href="{% url "complete_task" task.id %}"><button type="button" class="btn btn-dark">Mark Completed</button></a></td>
                <td class="col-1"><a href ="{% url "edit_task" task.id %}"><button type="button" class="btn btn-warning">Edit</button> </a></td>
                <td class="col-1"><a href="{% url 'delete_task' task.id%}"><button type="button" class="btn btn-danger">Delete</button> </a></td>
              </tr>
            {% endif %}
          {% endfor %}
        
      {% endif %}
        
      </tbody>
    </table>
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-end">
        <li class="page-item ">
          <a class="page-link" href="?pg=1"><<</a>
        </li>
        {% if all_tasks.has_previous %}
          <li class="page-item"><a class="page-link" href="?pg={{all_tasks.previous_page_number}}">{{all_tasks.previous_page_number}}</a></li>
        {% endif %}
        <li class="page-item"><a class="page-link" href="?pg={{all_tasks.number}}">{{all_tasks.number}}</a></li>
        {% if all_tasks.has_next  %}
          <li class="page-item"><a class="page-link" href="?pg={{all_tasks.next_page_number}}">{{all_tasks.next_page_number}}</a></li>
        {% endif %}
        <li class="page-item">
          <a class="page-link" href="?pg={{all_tasks.paginator.num_pages}}">>></a>
        </li>
      </ul>
    </nav>
</div>
{%endblock content%}


